<section class="md-whiteframe-2dp md-padding">
    <filters filters="vm.filters" on-update="vm.updateFilters" on-reset="vm.resetFilters"></filters>

    <md-table-pagination
            style="border: 0;"
            md-on-paginate="vm.updatePath"
            md-page="vm.params.page"
            md-page-select
            md-limit="vm.params.count"
            md-limit-options="[25, 50, 100]"
            md-total="{{vm.volumeCount}}">
    </md-table-pagination>

    <md-table-container>
        <table md-table class="striped hover">
            <thead md-head>
            <tr md-row>
                <th md-column style="width: 200px;">Volume ID</th>
                <th md-column style="width: 150px;">Account</th>
                <th md-column style="width: 130px;">Region</th>
                <th md-column style="width: 100px;">State</th>
                <th md-column style="text-align: center;">Size (GB)</th>
                <th md-column style="width: 100px; text-align: center;">Type</th>
                <th md-column style="width: 100px; text-align: center">IOPS</th>
                <th md-column style="width: 80px;">&nbsp;</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-auto-select md-row ng-repeat="volume in vm.volumes">
                <td md-cell>{{volume.resourceId}}</td>
                <td md-cell>{{volume.account.accountName}}</td>
                <td md-cell>{{volume.location}}</td>
                <td md-cell>{{volume.properties.state}}</td>
                <td md-cell style="text-align: center;">{{volume.properties.size}}</td>
                <td md-cell style="text-align: center;">{{volume.properties.volumeType}}</td>
                <td md-cell style="text-align: center;" ng-bind-html="volume.properties.iops | orna">&nbsp;</td>
                <td md-cell>
                    <md-button ng-click="vm.showDetails(volume)" class="md-icon-button">
                        <md-icon md-font-set="material-icons">
                            info_outline
                        </md-icon>
                    </md-button>
                    <md-icon class="md-warn md-hue-2 md-raised material-icons" style="cursor: help" ng-if="volume.properties.encrypted">
                        <md-tooltip>Encrypted</md-tooltip>
                        lock_outline
                    </md-icon>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination
            md-on-paginate="vm.updatePath"
            md-page="vm.params.page"
            md-page-select
            md-limit="vm.params.count"
            md-limit-options="[25, 50, 100]"
            md-total="{{vm.volumeCount}}">
    </md-table-pagination>
</section>