<section class="md-whiteframe-2dp">
    <md-toolbar class="md-hue-3">
        <div class="md-toolbar-tools">
            <h2>
                <span>Instance Details</span>
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-table-container>
        <table md-table class="vertical">
            <tbody md-body>
            <tr md-row>
                <td md-cell>
                    Instance ID
                </td>
                <td md-cell>
                    {{vm.instance.resourceId}}
                </td>
            </tr>
            <tr md-row>
                <td md-cell>
                    Instance Type
                </td>
                <td md-cell>
                    {{vm.instance.properties.instanceType}}
                </td>
            </tr>
            <tr md-row>
                <td md-cell>
                    Launch Date
                </td>
                <td md-cell>
                    {{vm.instance.properties.launchDate}}
                </td>
            </tr>
            <tr md-row>
                <td md-cell>
                    Account
                </td>
                <td md-cell>
                    {{vm.instance.account.accountName}}
                </td>
            </tr>
            <tr md-row>
                <td md-cell>
                    Region
                </td>
                <td md-cell>
                    {{vm.instance.location}}
                </td>
            </tr>
            <tr md-row ng-if="vm.instance.properties.publicIp">
                <td md-cell>
                    Public IP
                </td>
                <td md-cell>
                    {{vm.instance.properties.publicIp}}
                </td>
            </tr>
            <tr md-row ng-if="vm.instance.properties.publicDns">
                <td md-cell>
                    Public DNS
                </td>
                <td md-cell>
                    {{vm.instance.properties.publicDns}}
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
</section>

<section class="md-whiteframe-2dp" ng-if="vm.instance.volumes && vm.instance.volumes.length > 0">
    <md-toolbar class="md-hue-3">
        <div class="md-toolbar-tools">
            <h2>
                <span>Volumes</span>
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-table-container>
        <table md-table class="vertical">
            <thead md-head>
            <tr md-row>
                <th md-column>Volume ID</th>
                <th md-column>Size (GB)</th>
                <th md-column>Type</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="volume in vm.instance.volumes | orderBy: 'volumeId'">
                <td md-cell>
                    <a href="https://console.aws.amazon.com/ec2/v2/?region={{vm.instance.location}}#Volumes:search={{volume.volumeId}}" ui-sref="ebs.details({volumeId: volume.volumeId})">{{volume.volumeId}}</a>
                </td>
                <td md-cell>
                    {{volume.size}}
                </td>
                <td md-cell>
                    {{volume.volumeType}}
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
</section>

<section class="md-whiteframe-2dp" ng-if="vm.instance.tags">
    <md-toolbar class="md-hue-3">
        <div class="md-toolbar-tools">
            <h2>
                <span>Tags</span>
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-table-container>
        <table md-table class="vertical">
            <thead md-head>
            <tr md-row>
                <th md-column>Key</th>
                <th md-column>Value</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="tag in vm.instance.tags | orderBy: 'key'">
                <td md-cell>
                    {{tag.key}}
                </td>
                <td md-cell>
                    {{tag.value}}
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
</section>

<md-button class="md-raised md-accent md-hue-1" onclick="history.back()">Back</md-button>
