//region Standard tags
html, body {
    font-family: $font;
    font-size: $fontsize;
    height: 100%;
    margin: 0;
    padding: 0;
}

span {
    &.label {
        font-size: $fontsize - 2;
    }

    &.name {
        font-weight: bold;
        font-size: 1.1em;
        padding-left: 5px;
    }
}

table {
    &.vertical tr > :first-child {
        width: 250px;
    }

    &[md-table] {
        table-layout: fixed;

        &.striped {
            & tbody tr:nth-child(even) {
                background-color: $color-light-grey;

            }
        }

        &.hover {
            & tbody tr:hover {
                background-color: darken($color-light-grey, 10%);
            }
        }
    }

    & td[md-cell] {
        @include overflow();
    }
}

a {
    color: $color-light-blue;
    text-decoration: none;
    font-weight: bold;
    line-height: $fontsize * 1.10;
    transition: all .2s ease-in-out;

    &:visited {
        color: #0a6ebd;
    }

    &:hover {
        font-size: $fontsize * 1.10;
    }
}

section:not(.md-padding) > table[md-data-table] th {
    padding-top: 16px !important;
}

pre, .code-box {
    background-color: $color-light-grey;
    padding: 4px 6px 4px 6px;
    border: 1px solid $color-grey;
    line-height: 1.45;
    font-size: $fontsize - 1;
    font-family: $monospacefont;
    @include border-radius(4px);
}

textarea {
    @include border-radius(4px);
    border: 1px solid $color-grey !important;
    transition-duration: 0.3s;
    transition-property: background-color, border;
    transition-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
    min-height: 50px !important;

    &:focus {
        background-color: $color-light-grey !important;
    }

    &.error {
        @include border-radius(4px);
        background-color: rgba(255, 0, 0, 0.2) !important;
        border: 1px solid rgb(255, 0, 0) !important;
    }
}
//endregion
