#
import os

# Setup paths
BASE_CFG_PATH = os.path.abspath(os.path.dirname(__file__))
BASE_PATH = os.path.dirname(BASE_CFG_PATH)

# Configure logging
LOG_LEVEL = 'DEBUG'
DEBUG = LOG_LEVEL == 'DEBUG'

# Gather DB settings from a KMS encrypted user-data string. See documentation for more information
USE_USER_DATA = True
KMS_ACCOUNT_NAME = 'account_name'
KMS_REGION = 'us-west-2'
USER_DATA_URL = 'http://169.254.169.254/latest/user-data'

# AWS API key. Only required if you are not using instance profiles to allow access to the AWS API's to assume roles
AWS_API_ACCESS_KEY = ''
AWS_API_SECRET_KEY = ''

# Instance Profile ARN (only used if using static API keys)
AWS_API_INSTANCE_ROLE_ARN = 'arn:aws:iam::<ACCOUNT_ID>:role/CloudInquisitorInstanceProfile'

# Flask session secret_key
SECRET_KEY = 'verysecretkeyhere'

# Database settings. if USE_USER_DATA is enabled, these will be overwritten with the
# information from the encrypted user data string, and can be left at default values
SQLALCHEMY_DATABASE_URI = 'mysql://cloud_inquisitor:secretpass@localhost:3306/inquisitor'
SQLALCHEMY_POOL_SIZE = 50
SQLALCHEMY_MAX_OVERFLOW = 15
SQLALCHEMY_ECHO = False
SQLALCHEMY_TRACK_MODIFICATIONS = False

# Do not sort JSON output
JSON_SORT_KEYS = False

