cloud-inquisitor~=1.1.0
cinq-auditor-cloudtrail~=1.1.0
cinq-auditor-domain-hijacking~=1.1.0
cinq-auditor-ebs~=1.1.0
cinq-auditor-iam~=1.1.0
cinq-auditor-required-tags~=1.1.0
cinq-auditor-vpc-flowlogs~=1.1.0
cinq-collector-aws~=1.1.0
cinq-collector-dns~=1.1.0
cinq-scheduler-sqs~=1.1.0
cinq-scheduler-standalone~=1.1.0
cinq-auth-local~=1.1.0
cinq-auth-onelogin-saml~=1.1.0
