<form name="templateAdd" ng-submit="vm.create()">
    <section class="md-whiteframe-2dp padding">
        <md-content class="md-padding">
            <div layout-gt-md="row">
                <md-input-container class="md-block" flex>
                    <label>Name</label>
                    <input name="templateName" type="text" ng-model="vm.template.templateName" required />
                </md-input-container>
            </div>

            <div layout-gt-md="row">
                <md-input-container class="md-block" flex>
                    <label>Template</label>
                    <textarea name="template" ng-model="vm.template.template"></textarea>
                </md-input-container>
            </div>
        </md-content>
    </section>

    <md-button class="md-primary md-raised md-hue-2" type="submit" ng-disabled="!templateAdd.$valid">Create</md-button>
    <md-button class="md-warn md-raised" onclick="history.back()">Cancel</md-button>
</form>
