{
    "ec2_vpc_id":                   "vpc-xxxxxxx",
    "ec2_subnet_id":                "subnet-xxxxxxx",
    "ec2_source_ami":               "ami-0a00ce72",
    "ec2_instance_type":            "m4.large",
    "ec2_region":                   "us-west-2",
    "ec2_ssh_username":             "ubuntu",
    "ec2_security_groups":          "sg-xxxxxxx",
    "ec2_public_ip_enable":         "False",
    "app_kms_account_name":         "my_account_name",
    "app_use_user_data":            "False",
    "app_apt_upgrade":              "True",
    "app_log_level":                "INFO",
    "app_db_uri":                   "mysql://cinq:changeme@localhost:3306/cinq",
    "app_db_user":                  "cinq",
    "app_db_pw":                    "changeme",
    "app_db_setup_local":           "True",
    "git_branch":                   "master"
}
