<section class="md-whiteframe-2dp md-padding" ng-cloak>
    <md-table-pagination
            style="border: 0;"
            md-on-paginate="vm.updatePath"
            md-page="vm.params.page"
            md-page-select
            md-limit="vm.params.count"
            md-limit-options="[25, 50, 100]"
            md-total="{{vm.roleCount}}">
    </md-table-pagination>

    <md-table-container>
        <table md-table class="striped hover">
            <thead md-head>
            <tr md-row>
                <th md-column>Role</th>
                <th md-column>Color</th>
                <th md-column style="width: 50px;">&nbsp;</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="role in vm.roles" id="role-{{role.roleId}}">
                <td md-cell>{{role.name}}</td>
                <td md-cell>
                    <color-sample ng-model="role.color"></color-sample>
                    {{role.color}}
                </td>
                <td md-cell>
                    <md-menu md-position-mode="target-right target">
                        <md-button aria-label="Open user interactions menu" class="md-icon-button" ng-click="$mdMenu.open()">
                            <md-icon md-font-set="material-icons">settings</md-icon>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button ng-click="vm.editRole(role)">
                                    <md-icon md-font-set="material-icons">edit</md-icon>
                                    Edit
                                </md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item>
                                <md-button ng-click="vm.deleteRole($event, role)">
                                    <md-icon md-font-set="material-icons">delete</md-icon>
                                    Delete
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination
            md-on-paginate="vm.updatePath"
            md-page="vm.params.page"
            md-page-select
            md-limit="vm.params.count"
            md-limit-options="[25, 50, 100]"
            md-total="{{vm.roleCount}}">
    </md-table-pagination>
</section>

<md-fab-speed-dial md-open="fabopen" md-direction="left" class="md-scale md-fab-bottom-right" style="position: fixed; bottom: 20px">
    <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-warn">
            <md-icon md-font-set="material-icons">menu</md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button aria-label="add user" ui-sref="role.add" class="md-fab md-raised md-primary md-mini">
            <md-tooltip md-direction="bottom">Add Role</md-tooltip>
            <md-icon md-font-set="material-icons">add outline</md-icon>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>
<br />