<md-dialog aria-label="Change Password" class="pwdialog">
    <form ng-cloak name="frmChangePassword" ng-submit="vm.changePassword()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Change Password</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" style="max-width: 600px;">
                <p>
                    Enter a new password below or leave it blank to have the system assign a random password.
                </p>

                <md-input-container class="md-block">
                    <label>New Password</label>
                    <input
                            name="password"
                            ng-model="vm.form.password"
                            type="password"
                            pwstrength
                            score="vm.score"
                            compare="vm.form.confirmPassword"
                    >

                    <div ng-messages="frmChangePassword.password.$error" role="alert" multiple>
                        <div ng-message="pwstrength" class="my-message">
                            Weak password
                        </div>
                        <div ng-message="compare" class="my-message">
                            Passwords do not match
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Confirm Password</label>
                    <input name="confirmPassword" ng-model="vm.form.confirmPassword" type="password">
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-warn" type="submit" ng-disabled="!frmChangePassword.$valid">
                Change Password
            </md-button>
            <md-button ng-click="vm.cancel()">
                Close
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>