<form name="accountAdd" ng-submit="vm.add()">
    <section class="md-whiteframe-2dp padding">
        <md-content class="md-padding">
            <div layout-gt-md="row">
                <md-input-container class="md-block" flex>
                    <label>Account Name</label>
                    <input name="accountName" type="text" ng-model="vm.account.accountName" required />

                    <div ng-messages="accountAdd.accountName.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">You must provide a name for the account</div>
                    </div>
                </md-input-container>

                <span style="width: 40px"></span>

                <md-input-container class="md-block" flex>
                    <label>Account Number</label>
                    <input name="accountNumber" type="number" ng-model="vm.account.accountNumber" string-to-number required ng-pattern="/^\d{12}$/" />

                    <div ng-messages="accountAdd.accountNumber.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">You must provide the account number</div>
                        <div ng-message="pattern" class="my-message">Invalid formatted account number</div>
                    </div>
                </md-input-container>
            </div>

            <div layout-gt-md="row">
                <md-input-container class="md-block" flex>
                    <label>Contacts</label>
                    <md-chips id="contacts" ng-model="vm.account.contacts" required></md-chips>

                    <div ng-messages="accountAdd.contacts.$error" role="alert">
                        <div ng-message="required" class="my-message">You must provide one or more contact email addresses or slack channels</div>
                    </div>
                </md-input-container>

                <span style="width: 40px"></span>

                <md-input-container class="md-block" flex>
                    <label>Enabled</label>
                    <md-switch ng-model="vm.account.enabled" aria-label="Enabled" ng-true-value="true" ng-false-value="false" class="md-primary"></md-switch>
                </md-input-container>
            </div>

            <div layout-gt-md="row">
                <md-input-container class="md-block" flex="50">
                    <label>AD Group Base</label>
                    <input name="adGroupBase" type="text" ng-model="vm.account.adGroupBase" />
                </md-input-container>
            </div>

            <md-input-container class="md-block" flex>
                <label>Required Groups</label>
                <md-chips ng-model="vm.account.requiredRoles" placeholder="Enter role"></md-chips>
            </md-input-container>
        </md-content>
    </section>

    <md-button class="md-primary md-raised md-hue-2" type="submit" ng-disabled="!accountAdd.$valid">Add Account</md-button>
    <md-button class="md-warn md-raised md-hue-2" onClick="history.back()">Cancel</md-button>
</form>