<div>
    <md-toolbar class="md-primary md-hue-3">
        <div class="md-toolbar-tools">
            <h2>
                <span>Import Accounts</span>
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <section class="md-whiteframe-2dp md-padding">
        <div>
            <form name="accountImport" ng-submit="vm.importAccounts()">
                <textarea
                        id="accountData"
                        name="accountData"
                        layout-fill
                        style="min-height: 400px; resize: none; padding: 8px 4px;"
                        json
                        ng-model="vm.importData.content"
                        ng-class="{'error': accountImport.accountData.$error.json}"
                        placeholder="Drag and drop file here"></textarea>
                <br>
                <div class="help-block">
                    Only .json files under 5MB in size are supported
                </div>
                <md-button class="md-primary md-raised md-hue-2" type="submit" ng-disabled="!accountImport.$valid">
                    Import
                </md-button>
            </form>
        </div>
    </section>
</div>

<div>
    <md-toolbar class="md-primary md-hue-3">
        <div class="md-toolbar-tools">
            <h2>
                <span>Export Accounts</span>
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <section class="md-whiteframe-2dp md-padding">
        <download-file
                url="/api/v1/account/imex"
                label="Export accounts"
                tooltip="Download accounts"
                filename="cloud-inquisitor-accounts"
                formats="['json']"
        ></download-file>
    </section>
</div>
