<section class="md-whiteframe-2dp md-padding">
    <filters filters="vm.filters" on-update="vm.updateFilters" on-reset="vm.resetFilters"></filters>

    <md-table-pagination
            style="border: 0;"
            md-on-paginate="vm.updatePath"
            md-page="vm.params.page"
            md-page-select
            md-limit="vm.params.count"
            md-limit-options="[25, 50, 100]"
            md-total="{{vm.emailCount}}">
    </md-table-pagination>

    <md-table-container>
        <table md-table class="striped hover">
            <thead md-head>
            <tr md-row>
                <th md-column style="width: 150px;">Timestamp</th>
                <th md-column style="width: 150px;">Subsystem</th>
                <th md-column>Subject</th>
                <th md-column>Recipients</th>
                <th md-column style="width: 100px;">&nbsp;</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-auto-select md-row ng-repeat="email in vm.emails">
                <td md-cell>{{email.timestamp | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td md-cell>{{email.subsystem}}</td>
                <td md-cell>{{email.subject}}</td>
                <td md-cell>
                    <span style="display: block;" ng-repeat="recipient in email.recipients">{{recipient}}</span>
                </td>
                <td md-cell>
                    <md-button ng-click="vm.showDetails(email.emailId)" class="md-icon-button"><md-icon md-font-set="material-icons">info_outline</md-icon></md-button>
                </td>
            </tr>
            <tr md-row ng-if="vm.emailCount == 0">
                <td md-cell colspan="5">No emails found for the current filters</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination
            md-on-paginate="vm.updatePath"
            md-page="vm.params.page"
            md-page-select
            md-limit="vm.params.count"
            md-limit-options="[25, 50, 100]"
            md-total="{{vm.emailCount}}">
    </md-table-pagination>
</section>
