<section class="md-whiteframe-2dp md-padding">
    <filters params="vm.filters" on-update="vm.updateFilters" on-reset="vm.resetFilters"></filters>

    <md-table-pagination
            style="border: 0;"
            md-on-paginate="vm.updatePath"
            md-page="vm.params.page"
            md-page-select
            md-limit="vm.params.count"
            md-limit-options="[25, 50, 100]"
            md-total="{{vm.auditLogEventCount}}">
    </md-table-pagination>

    <md-table-container>
        <table md-table class="striped hover">
            <thead md-head>
            <tr md-row>
                <th md-column style="width: 200px;">Timestamp</th>
                <th md-column style="width: 150px;">Event</th>
                <th md-column>Actor</th>
                <th md-column style="width: 80px;">&nbsp;</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-auto-select md-row ng-repeat="event in vm.auditLogEvents">
                <td md-cell>{{event.timestamp | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td md-cell>{{event.event}}</td>
                <td md-cell>{{event.actor}}</td>
                <td md-cell>
                    <md-button ng-click="vm.showDetails(event.auditLogEventId)" class="md-icon-button"><md-icon md-font-set="material-icons">info_outline</md-icon></md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination
            md-on-paginate="vm.updatePath"
            md-page="vm.params.page"
            md-page-select
            md-limit="vm.params.count"
            md-limit-options="[25, 50, 100]"
            md-total="{{vm.auditLogEventCount}}">
    </md-table-pagination>
</section>