<div>
    <p>
        The following resources are now compliant with the Required Tags standards and are no longer subject to stopping or removal.
    </p>

    <div>
        <h2>Fixed Issues</h2>
        <table style="border: 0px; border-spacing: 0px;">
            <thead>
            <tr>
                <th style="border-bottom: solid #aaaaaa 2px; background-color: #eeeeee; width: 400px; text-align: left; padding: 4px;">Resource</th>
                <th style="border-bottom: solid #aaaaaa 2px; background-color: #eeeeee; width: 125px; text-align: left; padding: 4px;">Account</th>
                <th style="border-bottom: solid #aaaaaa 2px; background-color: #eeeeee; width: 125px; text-align: left; padding: 4px;">Region</th>
            </tr>
            </thead>
            <tbody>
            {% for resource in resources %}
            <tr>
                <td style="padding: 2px; background-color: {{loop.cycle('transparent', '#efefef') }};">
                    {{resource.instance.get_name_or_instance_id(True)}}
                </td>
                <td style="padding: 2px; background-color: {{loop.cycle('transparent', '#efefef') }};">
                    {{resource.instance.account.account_name}}
                </td>
                <td style="padding: 2px; background-color: {{loop.cycle('transparent', '#efefef') }};">
                    {{resource.instance.location}}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
