<div>
    <p>
        The following resources are not compliant with the Required Tagging standards.
    </p>
    <p>
        Improperly tagged resources will be shutdown or removed automatically within a month of being detected
        if the required tags are not added. To prevent this from happening, the owners of the resources should
        tag their assets correctly.
    </p>

    <div>
        <h2>Issues</h2>
        <table style="border: 0px; border-spacing: 0px;">
            <thead>
            <tr>
                <th style="border-bottom: solid #aaaaaa 2px; background-color: #eeeeee; width: 250px; text-align: left; padding: 4px;">Resource</th>
                <th style="border-bottom: solid #aaaaaa 2px; background-color: #eeeeee; width: 150px; text-align: left; padding: 4px;">Account</th>
                <th style="border-bottom: solid #aaaaaa 2px; background-color: #eeeeee; width: 125px; text-align: left; padding: 4px;">Region</th>
                <th style="border-bottom: solid #aaaaaa 2px; background-color: #eeeeee; width: 250px; text-align: left; padding: 4px;">Missing tags</th>
                <th style="border-bottom: solid #aaaaaa 2px; background-color: #eeeeee; width: 250px; text-align: left; padding: 4px;">Notes</th>
                <th style="border-bottom: solid #aaaaaa 2px; background-color: #eeeeee; width: 250px; text-align: left; padding: 4px;">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for resource in resources %}
            <tr>
                <td style="padding: 2px; background-color: {{loop.cycle('transparent', '#efefef') }};">
                    {{resource.instance.get_name_or_instance_id(True)}}
                </td>
                <td style="padding: 2px; background-color: {{loop.cycle('transparent', '#efefef') }};"> {{resource.instance.account.account_name}}
                </td>
                <td style="padding: 2px; background-color: {{loop.cycle('transparent', '#efefef') }};">
                    {{resource.instance.location}}
                </td>
                <td style="padding: 2px; background-color: {{loop.cycle('transparent', '#efefef') }};">
                    {{', '.join(resource.missing_tags)}}
                </td>
                <td style="padding: 2px; background-color: {{loop.cycle('transparent', '#efefef') }};">
                    {% if resource.notes %}
                    {% for note in resource.notes %}
                    <p>{{note}}</p>
                    {% endfor %}
                    {% else %}
                    <i>No Notes</i>
                    {% endif %}
                </td>
                <td style="padding: 2px; background-color: {{loop.cycle('transparent', '#efefef') }};">
                    {{resource.state_name()}}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
