<div>
    <p>
        The following instances are not compliant with the Required Tagging standards.
    </p>
    <p>
        Instances that are not tagged appropriately within a month of being detected as non-compliant will be shutdown
        automatically until tags have been added. To prevent this from happening have the owners of the instances to tag
        their assets correctly.
    </p>

    <div>
        <h2>Issues</h2>
        <table style="border: 0px; border-spacing: 0px;">
            <thead>
            <tr>
                <th style="border-bottom: solid #aaaaaa 2px; background-color: #eeeeee; width: 250px; text-align: left; padding: 4px;">Instance</th>
                <th style="border-bottom: solid #aaaaaa 2px; background-color: #eeeeee; width: 150px; text-align: left; padding: 4px;">Account</th>
                <th style="border-bottom: solid #aaaaaa 2px; background-color: #eeeeee; width: 125px; text-align: left; padding: 4px;">Region</th>
                <th style="border-bottom: solid #aaaaaa 2px; background-color: #eeeeee; width: 250px; text-align: left; padding: 4px;">Missing tags</th>
                <th style="border-bottom: solid #aaaaaa 2px; background-color: #eeeeee; width: 250px; text-align: left; padding: 4px;">Notes</th>
                <th style="border-bottom: solid #aaaaaa 2px; background-color: #eeeeee; width: 250px; text-align: left; padding: 4px;">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for issue in issues %}
            <tr>
                <td style="padding: 2px; background-color: {{loop.cycle('transparent', '#efefef') }};">
                    {{issue.instance.get_name_or_instance_id(True)}}
                </td>
                <td style="padding: 2px; background-color: {{loop.cycle('transparent', '#efefef') }};">
                    {{issue.instance.account.account_name}}
                </td>
                <td style="padding: 2px; background-color: {{loop.cycle('transparent', '#efefef') }};">
                    {{issue.instance.location}}
                </td>
                <td style="padding: 2px; background-color: {{loop.cycle('transparent', '#efefef') }};">
                    {{', '.join(issue.missing_tags)}}
                </td>
                <td style="padding: 2px; background-color: {{loop.cycle('transparent', '#efefef') }};">
                    {% if issue.notes %}
                    {% for note in issue.notes %}
                    <p>{{note}}</p>
                    {% endfor %}
                    {% else %}
                    <i>No Notes</i>
                    {% endif %}
                </td>
                <td style="padding: 2px; background-color: {{loop.cycle('transparent', '#efefef') }};">
                    {{issue.state_name()}}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
